main {
  background-image: url("viagem.jpg");
  min-height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main form button {
  background-color: grey;
  color: white;
  margin: 4px;
  border-radius: 5px;
}
main form input {
  background-color: white;
  margin: 2px;
  border-radius: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav li {
  list-style: none;
  padding: 5px;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.Atividade3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Atividade3 h2 {
  text-align: center;
  color: rgb(58, 58, 58);
}
.Atividade3 table {
  width: 100%;
  text-align: center;
}
.Atividade3 table th {
  border-bottom: 2px solid rgb(0, 0, 88);
  color: grey;
}
.Atividade3 table td {
  border-bottom: 1px solid rgb(0, 0, 88);
  align-items: center;
  color: grey;
}
.Atividade3 table .Pais {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.Atividade3 table .Pais-Inglaterra {
  background-color: hotpink;
  min-width: 50%;
  color: white;
  text-transform: uppercase;
}
.Atividade3 table .Pais-Canada {
  background-color: grey;
  min-width: 50%;
  color: white;
  text-transform: uppercase;
}
.Atividade3 table .Pais-EUA {
  background-color: pink;
  min-width: 50%;
  color: white;
  text-transform: uppercase;
}
.Atividade3 table .icons {
  display: flex;
  flex-direction: row;
}
.Atividade3 table .icons .Joinha-Verde {
  color: green;
}
.Atividade3 table .icons .Joinha-Vermelho {
  color: red;
}
.Atividade3 table .icons .Estrela {
  color: gold;
}
.Atividade3 .botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Atividade3 .botao button {
  padding: 30px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(102, 149, 250);
}
footer .col-1 {
  width: 8.3333333333%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-2 {
  width: 16.6666666667%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-3 {
  width: 25%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-4 {
  width: 33.3333333333%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-5 {
  width: 41.6666666667%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-6 {
  width: 50%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-7 {
  width: 58.3333333333%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-8 {
  width: 66.6666666667%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-9 {
  width: 75%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-10 {
  width: 83.3333333333%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-11 {
  width: 91.6666666667%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .col-12 {
  width: 100%;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer ul {
  list-style: none;
}