main {
    background-image: url("viagem.jpg");
    min-height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    form {
        button {
            background-color: grey;
            color: white;
            margin: 4px;
            border-radius: 5px;
        }

        input {
            background-color: white;
            margin: 2px;
            border-radius: 5px;
        }
    }

}

@mixin display-flex($flex-direction, $justify-content ) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

nav {

    @include display-flex(row, space-around);

    li {

        list-style: none;
        padding: 5px;
    }

    ul {
        @include display-flex(row, space-around);
        display: flex;
        flex-direction: row;

    }
}





.Atividade3 {
  @include display-flex(column, center);

    h2 {
        text-align: center;
        color: rgb(58, 58, 58);
    }

    table {
        width: 100%;
        text-align: center;


        @mixin linha($tmBorda) {
            border-bottom: $tmBorda solid rgb(0, 0, 88);
        }


        th {
            @include linha(2px);
            color: grey;
        }

        td {
            @include linha(1px);
            align-items: center;
            color: grey;
        }


        .Pais {
            display: flex;
            justify-content: center;
            flex-direction: row;
        }

        @mixin paisPadrao($corFundo) {
            background-color: $corFundo;
            min-width: 50%;
            color: white;
            text-transform: uppercase;
        }

        .Pais-Inglaterra {
            @include paisPadrao (hotpink);
        }

        .Pais-Canada {
            @include paisPadrao (grey);
        }

        .Pais-EUA {
            @include paisPadrao (pink);
        }


        .icons {
            display: flex;
            flex-direction: row;

            .Joinha-Verde {
                color: green;
            }

            .Joinha-Vermelho {
                color: red;
            }

            .Estrela {
                color: gold;
            }
        }
    }


    .botao {
        @include display-flex (row, center);

        button {
            padding: 30px;
            background-color: white;
            border: 1px solid grey;
            border-radius: 10px;
            text-transform: uppercase;

        }
    }
}



footer {

    @include display-flex(row, center);
    background-color: rgb(102, 149, 250);

    $tamanhoTela:12;
    @for $i from 1 through $tamanhoTela {
        .col-#{$i} {
            width: calc(100% / $tamanhoTela) * $i;
            height: 150px;
        align-items: center;
        @include display-flex(column,center);
        }
    }
 ul {
   list-style:none;
 }

}