$cor-1: #4335A7;
$cor-2: #9B7EBD;
$cor-3: #D4BEE4;
$cor-4: white;
$tamanho-botao: 10px;

.atividade1 {
    body {
        background-color: $cor-3;

    }

    button {
        background-color: $cor-1;
        color: $cor-4;
        padding: $tamanho-botao;
        margin: 2px;

    }

    input {
        background-color: $cor-1;
        padding: $tamanho-botao;
        margin: 4px;

    }

    h1,
    h2,
    h3 {
        color: $cor-2;
    }

    p {
        color: $cor-2;
    }

    form {

        button {
            background-color: $cor-4;
            color: $cor-1;
            margin: 4px;
        }

        input {
            background-color: $cor-2;
            margin: 2px;
        }
    }
}

.atividade2 {
    $cor-botao-primario: green;
    $cor-botao-perigo: red;
    $cor-botao-alerta: orange;

    .button {
        padding: 10px;
        text-transform: uppercase;
    }

    .button-primario {
        @extend .button;
        background-color: $cor-botao-primario;
        color: $cor-botao-primario;
    }

    .button-primario:hover {
        background-color: darken($cor-botao-primario, 5%);
        border-color: darken($cor-botao-primario, 5%);
    }

    .button-perigo {
        @extend .button;
        background-color: $cor-botao-perigo;
        color: $cor-botao-perigo;
    }

    .button-perigo:hover {
        background-color: lighten($cor-botao-perigo, 30%);
        border-color: lighten($cor-botao-perigo, 30%);
    }

    .button-alerta {
        @extend .button;
        background-color: $cor-botao-alerta;
        color: $cor-botao-alerta;
    }

    .button-alerta:hover {
        background-color: darken($cor-botao-alerta, 5%);
        border-color: darken($cor-botao-alerta, 5%)
    }
}

.AtividadeMixin { 
    display: flex;
    flex-direction:row;
    @mixin card ( $corFundo, $corescrita,$border) 
    { background-color: $corFundo; 
     color: $corescrita;
     padding: 5px;
     width: 400px;
     height: 500px;
     border-radius:$border ;
     box-shadow: 0 2px 10px rgba(0,0,0,1);
     margin:10px; 

    }

.cardprimario{
@include card(green,white,4px)

}

.cardsecundario {
    @include card(orange,black,6px);
}
    
}