.atividade1 body {
  background-color: #D4BEE4;
}
.atividade1 button {
  background-color: #4335A7;
  color: white;
  padding: 10px;
  margin: 2px;
}
.atividade1 input {
  background-color: #4335A7;
  padding: 10px;
  margin: 4px;
}
.atividade1 h1,
.atividade1 h2,
.atividade1 h3 {
  color: #9B7EBD;
}
.atividade1 p {
  color: #9B7EBD;
}
.atividade1 form button {
  background-color: white;
  color: #4335A7;
  margin: 4px;
}
.atividade1 form input {
  background-color: #9B7EBD;
  margin: 2px;
}

.atividade2 .button, .atividade2 .button-alerta, .atividade2 .button-perigo, .atividade2 .button-primario {
  padding: 10px;
  text-transform: uppercase;
}
.atividade2 .button-primario {
  background-color: green;
  color: green;
}
.atividade2 .button-primario:hover {
  background-color: rgb(0, 102.5, 0);
  border-color: rgb(0, 102.5, 0);
}
.atividade2 .button-perigo {
  background-color: red;
  color: red;
}
.atividade2 .button-perigo:hover {
  background-color: #ff9999;
  border-color: #ff9999;
}
.atividade2 .button-alerta {
  background-color: orange;
  color: orange;
}
.atividade2 .button-alerta:hover {
  background-color: rgb(229.5, 148.5, 0);
  border-color: rgb(229.5, 148.5, 0);
}

.AtividadeMixin {
  display: flex;
  flex-direction: row;
}
.AtividadeMixin .cardprimario {
  background-color: green;
  color: white;
  padding: 5px;
  width: 400px;
  height: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  margin: 10px;
}
.AtividadeMixin .cardsecundario {
  background-color: orange;
  color: black;
  padding: 5px;
  width: 400px;
  height: 500px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);
  margin: 10px;
}

.loops .col-1 {
  width: 8.3333333333%;
}
.loops .col-2 {
  width: 16.6666666667%;
}
.loops .col-3 {
  width: 25%;
}
.loops .col-4 {
  width: 33.3333333333%;
}
.loops .col-5 {
  width: 41.6666666667%;
}
.loops .col-6 {
  width: 50%;
}
.loops .col-7 {
  width: 58.3333333333%;
}
.loops .col-8 {
  width: 66.6666666667%;
}
.loops .col-9 {
  width: 75%;
}
.loops .col-10 {
  width: 83.3333333333%;
}
.loops .col-11 {
  width: 91.6666666667%;
}
.loops .col-12 {
  width: 100%;
}
.loops div {
  height: 50px;
  background-color: grey;
  border: 2px solid white;
}
.loops .linha {
  display: flex;
  flex-direction: row;
  background-color: white;
}

.animation button {
  background-color: #4335A7;
  transition: background-color 4s, transform 1s;
}
.animation button:hover {
  background-color: red;
  transform: scale(1.5);
}